<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FluentFTP" publicKeyToken="f4af092b1d8df44f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-54.2.0.0" newVersion="54.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>